body {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 72px);
    background: linear-gradient(to bottom, rgba(66, 77, 99, 0.8) 0%, rgba(66, 77, 99, 0.8) 100%), url("./background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

a {
    color: #fff !important;
    font-size: 30px !important;
}

.main-text {
    font-size: 60px;
    align-items: center;
    color: #0a2647;
    flex: 2;
}

@media  screen and (min-width: 550px) {
    .main-text {
        font-size: 70px;
    }
}
@media  screen and (min-width: 800px) {
    .main-text {
        font-size: 80px;
    }
}


